.H{ display:inline;
    font-size: 30px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 0; 
    left:0;

 }
 #G{
    color: blue;
 }
 #o{
    columns: red;
 }
 #o1{
    color: yellow;
 }
 #g{
    color: blue;
 }
 #l{
    color: green;
 }
 #e{
    color: red;}
    #bar{
        width: 600px; 
        padding: 10px; 
      }
input{
    position: relative;
    top: 250px; 
    left: 40px;
}
#button{
    position: relative;
    top: 280px; 
    left: -40px;
    width: 120px;
    height: 30px;

}
#button2{
    left: 850px;
    top:250px;
    width: 150px;
    height: 30px;
  
}
h4{
   display:inline;
}
.second{
   position: relative;
   left:586px ;
}
#right{
   position: relative;
   left: 600px;
}
#two1{
   width: 470px;
   position: absolute;
   top: 150px;
   left: 200px;
   
}
#three2{
   position:relative;
   left: 530px;
}
#two2{
   width: 470px;
   position: absolute;
   top: 187px;
   left: 200px;
}
#three3{
   position: relative;
   left: 577px;
}
#two3{
   width: 470px;
   position: absolute;
   top: 224px;
   left: 200px;

}
#two4{
   width: 470px;
   position: absolute;
   top: 261px;
   left: 200px;
}
#three4{
   position: relative;
   left: 570px;
}
#three5{
   position: relative;
   left: 260px;
}
#threethree5{
   position: relative;
   left: 533px;
}
#two5{
   width: 220px;
   position: absolute;
   top: 298px;
   left: 200px;
}

#twotwo5{
   width: 220px;
   position: absolute;
   top: 298px;
   left: 450px;
}
#finalbutton{
   width: 180px;
   position: absolute;
   top: 340px;
   left: 350px;
   height: 40px;
   background-color: rgb(72, 137, 240);
   font-size: large;
   color: aliceblue;

}
#linkgoogle{
   position: absolute;
   left: 1560px;
   top: 5px;
}